apiVersion: v1
kind: Service
metadata:
  name: playground-dev-squid
  namespace: kube-system
spec:
 selector:
  app: playground-dev-squid
 ports:
  - protocol: TCP
    port: 3128
    targetPort: 3128
    name: port3128
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: playground-dev-squid
  namespace: kube-system
  labels:
    app: playground-dev-squid
spec:
  replicas: 1
  selector:
    matchLabels:
      app: playground-dev-squid
  template:
    metadata:
      labels:
        app: playground-dev-squid
    spec:
      containers:
      - name: squid
        image: alpine
        imagePullPolicy: Always
        command: ["/bin/sh"]
        args: ["-c", "echo \"$ENTRYPOINT\" > /entrypoint.sh; chmod 755 /entrypoint.sh; exec /entrypoint.sh"]
        ports:
          - containerPort: 3128
        livenessProbe:
          tcpSocket:
            port: 3128
          periodSeconds: 5
        readinessProbe:
          tcpSocket:
            port: 3128
          periodSeconds: 5
        startupProbe:
          tcpSocket:
            port: 3128
          failureThreshold: 10
          periodSeconds: 5

        env:
          - name: ENTRYPOINT
            value: | #!/bin/sh
              apk add --no-cache squid
              echo -n "" > /etc/squid/squid.conf
              echo "$ALLOW_DOMAINS" | while read line; do
                  if [ "$line" != "" ] ; then
                      echo "acl GOOD dstdomain $line" >> /etc/squid/squid.conf
                  fi
              done
              echo "http_access allow GOOD" >> /etc/squid/squid.conf
              echo "acl SSL_ports port 443" >> /etc/squid/squid.conf
              echo "acl Safe_ports port 80              # http" >> /etc/squid/squid.conf
              echo "acl Safe_ports port 443             # https" >> /etc/squid/squid.conf
              echo "acl CONNECT method CONNECT" >> /etc/squid/squid.conf
              echo "http_access deny !Safe_ports" >> /etc/squid/squid.conf
              echo "http_access deny CONNECT !SSL_ports" >> /etc/squid/squid.conf
              echo "http_access allow localhost manager" >> /etc/squid/squid.conf
              echo "http_access deny manager" >> /etc/squid/squid.conf
              echo "http_access allow localhost" >> /etc/squid/squid.conf
              echo "http_access deny all" >> /etc/squid/squid.conf
              echo "http_port 3128" >> /etc/squid/squid.conf
              echo "coredump_dir /var/spool/squid" >> /etc/squid/squid.conf
              /usr/sbin/squid -YC --foreground -f /etc/squid/squid.conf &
              PID=$!
              trap "kill $PID; exit 0" INT TERM
              tail -F /var/log/squid/access.log | grep -v -e " error:transaction-end-before-headers "
          - name: ALLOW_DOMAINS
            value: |
                   .github.com
                   .api.ibm.com
                   .jboss.org
                   .api-hub-dev-d4b80535626182c66d855ee969650fc9-0005.us-south.containers.appdomain.cloud
                   dc.services.visualstudio.com
                   .github.ibm.com
                   json.schemastore.org
                   .schemastore.azurewebsites.net
                   registry.npmjs.org vortex.data.microsoft.com


